
@{
    ViewData["Title"] = "QrCode";
}

<h2>QrCode</h2>
<div id="qrCode"></div>


@section Scripts{ 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
    $(function () {
        $("#qrCode").qrcode("@ViewBag.Code")
    })
    </script>
}

